body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 95%;
}

.legend {
  padding: 5px;
  font-family: Sanchez, serif;
  font-size: 16px;
  line-height: 13px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.one {
  vertical-align: middle;
  font-size: xx-large;
  color: #00CC10
}

.two {
  vertical-align: middle;
  font-size: xx-large;
  color: #48D100
}

.three {
  vertical-align: middle;
  font-size: xx-large;
  color: #A6D600;
  display:  ;
}

.four {
  vertical-align: middle;
  font-size: xx-large;
  color: #DBAD00
}

.five {
  vertical-align: middle;
  font-size: xx-large;
  color: #E05100
}

.six {
  vertical-align: middle;
  font-size: xx-large;
  color: #E5000E
}

#in-line {
  vertical-align: middle;
  color: rgb(69, 69, 69);
}

h3 {
font-size: small;
margin-top: 0 ;
margin-bottom: 0;
}

p {
  font-size: small;
  margin-top: 0 ;
  margin-bottom: 0;
  display: inline-block;
  }

hr {
	background: red; 
	border: 1; 
  height: 1px; 
  margin-top: 0;
  margin-bottom: 0;
}


#footer {
  position: relative;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  background-color: rgb(41, 101, 168); 
  color: white
}

#footer p {
  margin: 0;
  font-size: 16px;
}

#map {
  margin-top: 0;

}

.jumbotron {
  padding: 0.3em; 
  background: url("banner.png") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% auto;
  color:  white;
  color:  rgb(6, 50, 99);
  font-size: 1vw;
  margin-bottom: 0.1em;

  }

